@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h1>Mi pequeña La salle</h1>
    <p class="lead">Este es un proyecto control de pagos, implementado para la escuelita Mi pequeña La Salle, elaborado con .Net, para la clase de administracion de software</p>
   
</div>

